
body{
    font-family: 'Lato', sans-serif;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-header{
    height: 100px;
    background-color: darkslategrey;
}

#head-text {
    font-size: 40px;
    color: white;
}

/* button styling */
#main-button{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
   float: right;
    background-color: white;
    width: 160px;
    padding: 8px;
    color: darkslategrey;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}



#main{
    text-align: center;
    color: darkslategrey;
    font-family: 'Lato', sans-serif;
    text-emphasis: bolder;
    border: 2px solid white;
    background: rgba(255,255,255,0.8);
    height: 100%;
   
}


.grid-footer{
    background-color: darkslategrey;
    color: white;
    height: 30px;
    width: max-content;
    font-size: 20px;
}


