.grid-container{
    display: grid;
    grid-template-rows: 10% auto 10%;
    
}

body{
    font-family:  'Lato', sans-serif;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    

}

#main-menu{
    font-weight: bolder;
    height: fit-content;
    width: fit-content;
    background-position: center;
    color: darkslategrey;
    margin-left: auto;
    margin-right: auto;
}

#head-text {
    font-size: 40px;
    color: white;
    
}


.grid-header{
    height: 100px;
    background-color: darkslategrey;
    width: 100%;
}

.grid-main{
    text-align: center;
    color: darkslategrey;
    font-family:  'Lato', sans-serif;
    min-height: 100vh;


   
}

.grid-main a{
    color: darkslategrey;
    text-align: center;
       
}

.grid-main a:hover {
    color: hotpink;
}

h2{
    font-size: 40px;
}

li{
    list-style: none;
    font-size: 25px;
}


.grid-footer{
    background-color: darkslategrey;
    color: white;
    height: 30px;
    width: max-content;
    font-size: 20px;
}



