.grid-container{
    display: grid;
    grid-template-rows: 10% auto 10%;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-header{
    background-color: darkslategrey;
}

#head-text {
    font-size: 40px;
    color: white;
}

/* button styling */
#main-button{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
   float: right;
    background-color: white;
    width: 160px;
    padding: 8px;
    color: darkslategrey;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

#main{
    text-align: center;
    color: darkslategrey;
    font-family: 'Times New Roman', Times, serif;
    text-emphasis: bolder;
    min-height: 100vh;
  
    
   
}


.grid-footer{
    background-color: darkslategrey;
    color: white;
    height: 30px;
    width: max-content;
    font-size: 20px;
}
