.grid-container{
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/background.png);
    min-height: 100vh;

}

#head-text {
    font-size: 40px;
    color: white;
}


.grid-header{
    background-color: black;
}

.grid-main{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
   
}

.grid-main a{
    color: white;
    text-align: center;   
}

.grid-main a:hover {
    color: gold;
}

li{
    list-style: none;
}


.grid-footer{
    background-color: black;
    color: white;
    height: 20px;
}



